#cd-logo {
  position: absolute;
  left: 10px;
  top: 1px;
  width: 100px;
  height: 32px;
}
.gym-buddies-logo{
  height: 48px;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    left: 20px;
    top: 7px;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-logo {
    left: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .cd-menu-trigger {
    top: 16px;
    right: 10px;
    font-size: 16px;
    font-size: 1rem;
  }
  .gym-buddies-logo{
    height: 70px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-menu-trigger {
    right: 60px;
  }
}

#cd-intro h1 {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 18px;
  font-size: 3.125rem;
  font-weight: bold;
  color: #116CAD;
}
@media only screen and (min-width: 768px) {
  #cd-intro h1 {
    font-size: 26px;
    font-size: 2.625rem;
  }
}