body{
    overflow-x: hidden;
}
a, a:hover{
    color: #cc2224;
}
.sidebar{
    padding: 20px;
    min-height: 200px;
    background-color: #2C2A2C;
    color: #C7C7C7;
    padding-left:50px;
}
.sidebar-topic{
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 10px;
  font-size: 35px;
  color: #cc2224;
}
.sidebar section{
    margin-bottom: 35px;
}
.red{
    color: #CC2224;
}
.profile-container{
    padding: 30px;
}
.profile-image{
    text-align: center;
}
.profile-picture{
    border-radius: 3px;
    height: 210px;
    border-radius: 100px;
}
.profile-contact{
    padding-top: 15px;
}
.profile-name{
    font-weight: 400;
}
.profile-title{
    font-weight: 400;
    letter-spacing: 3px;
}
.profile-contact span{
    margin-right: 10px;
}
.quote-container{
    padding: 10px 10px 0 10px;
}
.quote i{
    font-size: 20px;
    margin-right: 5px;
}
.container-title{
  font-weight: 600;
  font-size: 25px;
  font-variant: small-caps;
  background-color: #cc2224;
  color: #fff;
  margin-left: -15px;
  padding-left: 15px;
  max-width: 200px;
}
.topic{
    margin: 15px;
    max-width: 900px;
}
.topic-timeframe{
    color: #8E8686;
    font-size: 18px;
    font-weight: 700;
}
.topic-title{
    font-size: 20px;
    font-weight: 600;
    color: #CC2224;
}
.topic-description{
    margin-left: 10px;
}
.skills{
    margin-top: 5px;
}
.footer-details{
    float: right;
    margin-bottom: 10px;
    margin-top: 5px;
}
.list-group-item{
    border: none !important;
    background-color: #2C2A2C !important;
}
@media(max-width: 992px){
    .container-title{
      margin: 20px 0;
    }
    .profile-container{
        text-align: center;
    }
}
.progress{
    margin-bottom: 1px;
}