<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Sandbox</span>
            </button>
            <a class="navbar-brand" href="#">Sandbox</a>
        </div>
    </div>
</nav>

<h1>{{post.title}}</h1>
<div>
    {{post.body}}
</div>
<div ng-repeat="comment in comments" class="comment">
    <div class="comment-name">{{comment.name}}</div>
    <p class="comment-body">{{comment.body}}</p>
    <p class="comment-date">{{comment.date | date}}</p>
</div>

<div class="footer">
   
</div>