<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Sandbox</span>
            </button>
            <img style="max-height:60px; max-width:60px; float:left; margin: 0 10px" src="/media/images/sandbox-icon.png">
            <a class="navbar-brand" href="#">Sandbox</a>
        </div>
    </div>
</nav>

<div class="container dashboard-panel">
    <div class="dashboard-panel-header" ng-bind-html="post.renderedTitle"></div>
    <div class="post-tags pull-right margin-sm">{{post.author}}<br/>{{post.date | date}}</div>
    <div class="small-12 clear">
        <div ng-bind-html="post.renderedBody"></div>
    </div>
</div>